.offset_head{
    align-items: center;
    background: rgba(12, 2, 31, 0.9);
}
.offset_head>h1{
    text-align: center;
    padding: 1.5rem 0;
    text-transform: capitalize;
    color: rgb(110, 81, 6);
}
.offset_body{
    padding: 3rem;
}
.offset_body>p{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 550;
}
.offset_cards{
    display: flex;
    margin: 3rem 0;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
@media screen and (max-width: 900px) {
    .offset_head>h1{
        font-size: 1.5rem;
    }
    .offset_head{
        padding: 0 1.5rem;
    }
}
@media screen and (max-width: 750px) {
    .offset_body>p{
        text-align: center;
    }
    .offset_cards{
        justify-content: center;
        margin: 1.5rem 0;
    }
    .offset_body{
        padding: 1.5rem 3rem;
    }
}